/*  your css code here. If applicable */
body{
	background-color:#f5f5f5;
	margin: 0 30px;
}
.set{
	background-color:white;
	border:10px solid #f5f5f5;
	padding:15px;
	postion:relative;
}
.author{
	postion:absolute;
     text-align:right;
	font-style:italic;
	right: 25px;
	bottom:2px;
}
